@import "global.scss";

@media screen and (min-width: 465px) {
    .about-container {
        .officer {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        background-image: url('../images/about-intro-bg-400.jpg') !important;
        background-size: cover;
        background-position: 50% 50%;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .about-container {
        padding: 60px 0;
        background-size: 105%;

        .officer {
            border-radius: 0 !important;

            .img-section {
                border-radius: 0 !important;
                width: 80% !important; 
            }

            h3 {
                font-size: 20px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    .about-bottom-info {
        padding: 60px 0 !important;

        .image-holder {
            img {
                max-width: 100%;
            }
        }

        .text-holder {
            margin-top: 30px;

            h2 {
                font-size: 32px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-wrapper {
        background-image: url('../images/about-intro-bg-700.jpg') !important;
        background-size: cover;
        background-position: 50% 50%;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .about-container {
        padding: 60px 0;
        background-size: 105%;

        .officer {
            border-radius: 0 !important;

            .img-section {
                border-radius: 0 !important;
                width: 80% !important;
            }

            h3 {
                font-size: 20px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    .about-bottom-info {
        padding: 60px 0 !important;

        .image-holder {
            img {
                max-width: 100%;
            }
        }

        .text-holder {
            margin-top: 30px;

            h2 {
                font-size: 32px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-wrapper {
        background-image: url('../images/about-intro-bg-1000.jpg') !important;
        background-size: cover;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .about-container {
        padding: 60px 0;
        background-size: 60%;
    }

    .about-bottom-info {
        padding: 60px 0 !important;

        .image-holder {
            img {
                max-width: 100%;
            }
        }

        .text-holder {
            margin-top: 30px;

            h2 {
                font-size: 32px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-wrapper {
        background-image: url('../images/about-intro-bg-1000.jpg') !important;
        background-size: cover;

        h2 {
            margin-bottom: 30px;
        }
    }

    .about-container {
        padding: 60px 0;
        background-size: 60%;
    }

    .about-bottom-info {
        padding: 60px 0 !important;

        .image-holder {
            img {
                max-width: 100%;
            }
        }

        .text-holder {
            margin-top: 30px;

            h2 {
                font-size: 32px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .intro-wrapper {
        background-image: url('../images/about-intro-bg-1300.jpg') !important;
        background-size: cover;
        background-position: 15% 50%;

        h2 {
            margin-bottom: 30px;
        }
    }

    .about-container {
        padding: 60px 0;
        background-size: 60%;
    }
}