@import "global.scss";
@import "mixins.scss";

body {
    background-color: rgb(243, 243, 243);
}

.navigation-wrapper {
    position: absolute;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/about-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.about-container {
    padding: 160px 0;
    background-image: url('../images/about-us-bg-svg.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50%;

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #24B47E;
        text-align: center;
        width: 100%;
        margin-bottom: 120px;
    }

    .officer {
        min-height: 200px;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,.07);
        padding: 0;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 30px;

        .img-section {
            width: 45%;
            position: relative;
            height: 100%;
            background: rgb(8, 82, 202);

        }

        .texts-section {
            padding: 30px !important;
        }

        .purple {
            background: #cc2b5e;
            background: -moz-linear-gradient(-45deg, #cc2b5e 0%, #753a88 100%);
            background: -webkit-linear-gradient(-45deg, #cc2b5e 0%, #753a88 100%);
            background: linear-gradient(135deg, #cc2b5e 0%, #753a88 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc2b5e', endColorstr='#753a88', GradientType=1);
        }

        .miaka {
            background: #FC354C;
            background: -moz-linear-gradient(-45deg, #FC354C 0%, #0ABFBC 100%);
            background: -webkit-linear-gradient(-45deg, #FC354C 0%, #0ABFBC 100%);
            background: linear-gradient(135deg, #FC354C 0%, #0ABFBC 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC354C', endColorstr='#0ABFBC', GradientType=1);
        }

        .ice {
            background: #c0c0aa;
            background: -moz-linear-gradient(-45deg, #c0c0aa 0%, #1cefff 100%);
            background: -webkit-linear-gradient(-45deg, #c0c0aa 0%, #1cefff 100%);
            background: linear-gradient(135deg, #c0c0aa 0%, #1cefff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0aa', endColorstr='#1cefff', GradientType=1);
        }

        .happiness {
            background: #00b09b;
            background: -moz-linear-gradient(-45deg, #00b09b 0%, #96c93d 100%);
            background: -webkit-linear-gradient(-45deg, #00b09b 0%, #96c93d 100%);
            background: linear-gradient(135deg, #00b09b 0%, #96c93d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b09b', endColorstr='#96c93d', GradientType=1);
        }

        .royal {
            background: #141E30;
            background: -moz-linear-gradient(-45deg, #141E30 0%, #243B55 100%);
            background: -webkit-linear-gradient(-45deg, #141E30 0%, #243B55 100%);
            background: linear-gradient(135deg, #141E30 0%, #243B55 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141E30', endColorstr='#243B55', GradientType=1);
        }

        .pink {
            background: #ee9ca7;
            background: -moz-linear-gradient(-45deg, #ee9ca7 0%, #ffdde1 100%);
            background: -webkit-linear-gradient(-45deg, #ee9ca7 0%, #ffdde1 100%);
            background: linear-gradient(135deg, #ee9ca7 0%, #ffdde1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9ca7', endColorstr='#ffdde1', GradientType=1);
        }
    }

    .officer-left {
        .img-section {
            border-radius: 20px 0 0 20px;

            img {
                position: absolute;
                width: 100%;
                bottom: 0;
                right: 30px;
            }
        }

        header {
            h3 {
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-size: 18px;
                color: rgb(11, 201, 68);
            }
        }
    }

    .officer-right {
        .img-section {
            border-radius: 0 20px 20px 0;

            img {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
            }
        }

        header {
            h3 {
                font-weight: 700;
                font-size: 24px;
                text-align: right;
            }

            p {
                font-size: 18px;
                color: rgb(11, 201, 68);
                text-align: right;
            }
        }

        p {
            text-align: right;
        }
    }

    .about-bottom-info {
        padding: 120px 0;

        .image-holder {
            img {
                display: block;
                margin: 0 auto;
            }
        }

        h2 {
            margin-bottom: 30px;
            text-align: right;
        }

        p {
            text-align: right;
        }
    }
}