@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        background-image: url('../images/affiliates-intro-bg-400.jpg');
        background-size: cover;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-wrapper {
        background-image: url('../images/affiliates-intro-bg-700.jpg');
        background-size: cover;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-wrapper {
        background-size: cover !important;
        background-position: 50% 0;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-wrapper {
        background-size: cover !important;
        background-position: 50% 0;
    }
}
