@import "global.scss";
@import "mixins.scss";

.navigation-wrapper {
position: fixed !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/affiliates-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 500px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: right;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
        }

        p {
            text-align: right;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.affiliates-container {
    padding: 120px 0;

    .affiliate {
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;

        h2 {
            font-size: 26px;
            font-weight: 700;
            margin: 0 0 30px 0;
            color: #24B47E;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 16px;
                position: relative;
                padding-left: 35px;
                line-height: 30px;

                a {
                    text-decoration: none;
                    border-bottom: 1px dashed #ccc;
                    color: #000;

                    &:hover {
                        color: blue;
                        border-color: blue;
                    }

                }

                i {
                    font-size: 18px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    color: rgb(131, 240, 6);
                }
            }
        }
    }
}
