@import "fonts.scss";

@mixin greenBtn(){
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .085);
    position: absolute;
    transform: translateY(-50%);
    right: 100px;
    top: 50%;
}

html, body {
    background: #ececec !important;
    height: 100%;
    @include open_sans($size: 14px);

    #app {
        min-height: 100vh;

        .container-fluid {
            // min-height: 100vh;
            height: 100%;
        }
    }

    .swal2-content {
        font-weight: 400 !important;
    }

    input, button, p, h1, h2, h3, h4, h5, h6, label, small, a {
      font-family: "Open Sans" !important;
    }

    .cls-1 {
        fill: #fff;
    }

    .header-container {
        background: #fff;
        box-shadow: 0px 3px 7px rgba(0,0,0,.03);

        .container-fluid {
            // min-height: auto !important;
            height: 100%;
        }

        header {
            h1 {
                @include open_sans($size: 14px, $weight: 800);
                text-transform: uppercase;
                line-height: 75px;
                color: #5b1e86;
                margin: 0;
            }
        }

        .header-dropdown-container {
            position: relative;

            .new-shipment-btn {
                @include greenBtn();
            }

            ul {
                list-style-type: none;
                padding: 0;
                width: 50%;
                float: right;
                margin: 0;

                li.profile-pic-container {
                    width: 75px;
                    float: right;
                    height: 75px;
                    position: relative;

                    img {
                        border-radius: 100%;
                        box-shadow: 0px 5px 9px rgba(0, 0, 0, .085);
                        width: 48px;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        cursor: pointer;
                    }

                    ul.header-dropdown {
                        display: none;
                        list-style-type: none;
                        width: 100%;
                        position: absolute;
                        width: 210px;
                        top: 75px;
                        right: 0;
                        background: #fff;
                        box-shadow: 0px 3px 7px rgba(0, 0, 0, .03);
                        border-radius: 0 0 5px 5px;
                        overflow: hidden;
                        z-index: 1;

                        li {
                            float: left;
                            width: 100%;
                            line-height: normal;

                            a {
                                display: block;
                                width: 100%;
                                padding: 15px;
                                font-size: 12px;
                                text-transform: uppercase;
                                font-weight: 700;
                                text-decoration: none;
                                color: rgb(100, 100, 100);

                                i {
                                    margin-right: 10px;
                                    font-size: 18px;
                                    color: rgb(184, 184, 184);
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-top: -2px;
                                }

                                &:hover {
                                    background: rgb(219, 219, 219);
                                    color: #fff;

                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    &:hover ul.header-dropdown {
                        display: block;
                    }
                }

                li {
                    float: left;
                    width: 100%;

                    a {

                    }
                }
            }
        }
    }

    .body {
        min-height: 100%;

        .main-navigation {
            padding: 0;
            background: #5b1e86;
            background: -moz-linear-gradient(-180deg, #5b1e86 0%, #0f1063 100%);
            background: -webkit-linear-gradient(-180deg, #5b1e86 0%, #0f1063 100%);
            background: linear-gradient(-180deg, #5b1e86 0%, #0f1063 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b1e86', endColorstr='#0f1063', GradientType=1);
            height: 100vh;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 30px 0 0 0;

                li {
                    width: 100%;

                    a {
                        display: block;
                        line-height: 24px;
                        color: #9d9eff;
                        padding: 10px 30px;
                        text-decoration: none;
                        font-size: 1rem;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: #fff;
                            font-weight: 700;
                        }

                        i {
                            display: inline-block;
                            vertical-align: middle;
                            margin-top: -5px;
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }

                    a.nav-active {
                        color: #fff;
                        font-weight: 700;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                .nav-header {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1rem;
                    color: rgb(0, 108, 209);
                    padding: 30px 0 10px 30px;
                }
            }
        }

        main {
            min-height: 400px;

            header {
                width: 100%;
                padding: 35px 0;
                position: relative;

                i {
                    font-size: 42px;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 44%;
                    color: rgb(184, 184, 184);
                }

                h2 {
                    font-family: "Open Sans";
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: rgb(53, 53, 53);
                    padding-left: 75px;
                }

                p {
                    font-size: 1rem;
                    padding-left: 75px;
                }
            }

            .search-shipment, .new-shipment-input {
                @include open_sans();
                padding: 24px 20px;
                margin-bottom: 30px;
                border: none;
                border: 2px solid rgb(173, 172, 240);
                border-radius: 5px;
                width: 25%;

                &:focus {
                    border: 2px solid rgb(53, 49, 250);
                }
            }

            .search-shipment {
                width: 50%;
            }

            .eta-search, .eta-search-btn {
                float: left;
            }

            .eta-search-btn {
                border-radius: 30px;
                padding: 10px 30px;
                margin-left: 10px;
                margin-top: 5px;
            }

            .switch-container {
                margin-bottom: 15px;
            }

            .vue-js-switch#switch {
                font-size: 14px;
            }

            .new-shipment-input {
                width: 100%;
            }

            .btn-group {
                border-radius: 5px;

                .export-btn {
                    padding: 10px 25px;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -5px;
                        font-size: 24px;
                    }
                }

                .export-csv {
                    border-radius: 5px 0 0 5px;
                }

                .export-excel {
                    border-radius: 0 5px 5px 0;
                }
            }

            .save-shipment-btn {
                @include greenBtn();
                position: relative;
                top: 0;
                right: 0;
                float: right;
                margin-top: 15px;
                padding-right: 30px !important;
                padding-left: 30px !important;
            }

            .table-container {
                padding: 1.5rem;
                background: #fff;
                border-width: .2rem;
                border: solid #dddddd;

                .table {
                    margin-bottom: 0;

                    .thead-dark {
                        th {
                            background-color: rgb(224, 224, 224);
                            border-color: rgb(224, 224, 224);
                            color: rgb(53, 53, 53);
                        }
                    }

                    td {
                        #options::after {
                            display: none;
                        }

                        .dropdown-menu {
                            .dropdown-item {
                                i {
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 10px;
                                    margin-top: -2px;
                                }
                            }
                        }
                    }

                    .no-records {
                        td {
                            text-align: center;
                        }
                    }

                    .tracking-no {
                        text-decoration: none;
                    }

                }

                .table td.fit,
                .table th.fit {
                    white-space: nowrap !important;
                }
            }
        }

        .router-anim-enter-active {
            animation: coming .5s;
            animation-delay: .5s;
            opacity: 0;
        }
        .router-anim-leave-active {
            animation: going .5s;
        }

        @keyframes going {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-50px);
                opacity: 0;
            }
        }
        @keyframes coming {
            from {
                transform: translateX(-50px);
                opacity: 0;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }


    .login-reset-body {
        background: #005C97;
        background: -moz-linear-gradient(45deg, #1488CC 0%, #2B32B2 100%);
        background: -webkit-linear-gradient(45deg, #1488CC 0%,#2B32B2 100%);
        background: linear-gradient(45deg, #1488CC 0%,#2B32B2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1488CC', endColorstr='#2B32B2',GradientType=1 );

        .login-form-container {
            padding: 40px 60px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 7px 15px rgba(0,0,0,.075);

            h1 {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 30px;
                text-align: center;
            }

            form {

                .form-group {
                    position: relative;
                    margin-bottom: 20px;

                    i {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 5%;
                        font-size: 18px;
                        color: rgb(160, 160, 160);
                    }

                    input[type=password], input[type=email] {
                        padding: 25px 20px 25px 50px;
                        border-radius: 30px;
                        background: rgb(248, 248, 248);
                        border-width: 2px;
                    }
                }

                .btn-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;

                    button {
                        border-radius: 30px;
                        padding: 15px 30px;
                        text-transform: uppercase;
                        font-weight: 700;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
                    }
                }

                .forgot-password-link {
                    font-size: 13px;
                    text-decoration: none;
                    color: #0069ff;
                    text-align: center;
                }

                .invalid-feedback {
                    margin: 15px 0;
                    text-align: center;
                }
            }
        }

        .error-messages {
            padding: 0;

            span {
                display: block;
                text-align: center;
                padding: 15px;
                border-radius: 10px;
                color: #856404 !important;
                margin-top: 15px;
            }
        }
    }
}
