@import "global.scss";
@import "mixins.scss";

body {
    background-color: rgb(243, 243, 243);
}

.navigation-wrapper {
    position: absolute !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/branches-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: left;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 30px;
        }

        p {
            text-align: left;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.branches-container {
    padding: 120px 0;

    .branch, .main {
        min-height: 300px;
        margin-top: 15px;
        margin-bottom: 15px;

        div {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 14px 26px rgba(0, 0, 0, .07);
            padding: 30px;

            h2 {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            ul {
                margin: 0;
                padding: 0 0 0 20px;


                li {
                    font-size: 14px;
                }
            }
        }
    }

    .main {
        div {
            background: #642B73;
            background: -moz-linear-gradient(-45deg, #642B73 0%, #C6426E 100%);
            background: -webkit-linear-gradient(-45deg, #642B73 0%, #C6426E 100%);
            background: linear-gradient(135deg, #642B73 0%, #C6426E 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#642B73', endColorstr='#C6426E', GradientType=1);

            h2, p, li {
                color: #fff;
            }

            h2 {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            ul {

                li {
                    line-height: 30px;

                    a {
                        color: rgb(7, 227, 243);
                    }
                }
            }
        }
    }

}
