@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        background-image: url('../images/branches-intro-bg-400.jpg') !important;
        background-size: auto !important;
        background-position: 50% 0%;

        h2 {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-wrapper {
        background-image: url('../images/branches-intro-bg-700.jpg') !important;
        background-size: auto;

        h2, p {
            text-align: center !important;
        }

        h2 {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .intro-wrapper {
        background-size: auto;
        background-position: 50% 0;

        h2, p {
            text-align: center !important;
        }

        h2 {
            margin-bottom: 30px;
        }

    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-wrapper {
        background-size: auto;
        background-position: 50% 0%;

        h2, p {
            text-align: center !important;
        }

        h2 {
            margin-bottom: 30px;
        }

    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-wrapper {
        background-image: url('../images/branches-intro-bg-1000.jpg') !important;
        background-size: auto;
        background-position: 0 0;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .intro-wrapper {
        background-image: url('../images/branches-intro-bg-1300.jpg') !important;
        background-size: auto;
    }
}
