@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 600px) {
    /* Nav button */
    .hamburger {
        display: block !important;
    }

    .mobile-header-logo {
        display: block !important;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;

        svg {
            .cls-1 {
                fill: #fff;
            }
        }
    }

    /* Navigation */
    .navigation-wrapper {
        position: fixed !important;
        background: #1565C0;
        background: -moz-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: -webkit-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: linear-gradient(135deg, #b92b27 0%, #1565C0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b92b27', endColorstr='#1565C0', GradientType=1);
        height: 100%;
        right: -100%;
        z-index: 11 !important;

        nav {
            margin-top: 30px;

            ul {
                float: none !important;

                li {
                    width: 100%;
                    margin: 0 !important;

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }

                li.track-trace {
                    a {
                        border: none !important;
                        border-radius: 0;
                        padding: 16px 0 !important;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background: #FFF;
                            color: #000;
                        }
                    }

                    a.current {
                        background: #FFF;
                        color: #000;
                    }
                }
            }
        }
    }

    /* Footer */
    .footer-container {
        background: #C33764 !important;
        background: -moz-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: -webkit-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: linear-gradient(135deg, #C33764 0%, #1D2671 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C33764', endColorstr='#1D2671', GradientType=1) !important;

        footer {
            padding-bottom: 30px !important;
            padding-top: 60px !important;

            .footer-nav {
                margin-top: 30px;

                p {
                    float: none !important;
                    text-align: center;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                float: none !important;

                li {
                    float: left;
                    width: 25%;
                    margin: 0 !important;

                    a {
                        padding: 10px 0 !important;
                    }

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    /* Nav button */
    .hamburger {
        display: block !important;
    }

    .mobile-header-logo {
        display: block !important;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;

        svg {
            .cls-1 {
                fill: #fff;
            }
        }
    }

    /* Navigation */
    .navigation-wrapper {
        position: fixed !important;
        background: #1565C0;
        background: -moz-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: -webkit-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: linear-gradient(135deg, #b92b27 0%, #1565C0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b92b27', endColorstr='#1565C0', GradientType=1);
        box-shadow: 0 0 25px rgba(0,0,0,.5);
        height: 100%;
        right: -100%;
        width: 40% !important;

        nav {
            margin-top: 30px;

            ul {
                float: none !important;

                li {
                    width: 100%;
                    margin: 0 !important;

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }

                li.track-trace {
                    a {
                        border: none !important;
                        border-radius: 0;
                        padding: 16px 0 !important;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background: #FFF;
                            color: #000;
                        }
                    }

                    a.current {
                        background: #FFF;
                        color: #000;
                    }
                }
            }
        }
    }

    /* Footer */
    .footer-container {
        background: #C33764 !important;
        background: -moz-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: -webkit-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: linear-gradient(135deg, #C33764 0%, #1D2671 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C33764', endColorstr='#1D2671', GradientType=1) !important;

        footer {
            padding-bottom: 30px !important;
            padding-top: 60px !important;

            .footer-nav {
                margin-top: 30px;

                p {
                    float: none !important;
                    text-align: center;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                float: none !important;

                li {
                    float: left;
                    width: 25%;
                    margin: 0 !important;

                    a {
                        padding: 10px 0 !important;
                    }

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    /* Nav button */
    .hamburger {
        display: block !important;
    }

    .mobile-header-logo {
        display: block !important;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;

        svg {
            .cls-1 {
                fill: #fff;
            }
        }
    }

    /* Navigation */
    .navigation-wrapper {
        position: fixed !important;
        background: #1565C0;
        background: -moz-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: -webkit-linear-gradient(-45deg, #b92b27 0%, #1565C0 100%);
        background: linear-gradient(135deg, #b92b27 0%, #1565C0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b92b27', endColorstr='#1565C0', GradientType=1);
        box-shadow: 0 0 25px rgba(0, 0, 0, .5);
        height: 100%;
        right: -100%;
        width: 40% !important;

        nav {
            margin-top: 30px;

            ul {
                float: none !important;

                li {
                    width: 100%;
                    margin: 0 !important;

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }

                li.track-trace {
                    a {
                        border: none !important;
                        border-radius: 0;
                        padding: 16px 0 !important;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background: #FFF;
                            color: #000;
                        }
                    }

                    a.current {
                        background: #FFF;
                        color: #000;
                    }
                }
            }
        }
    }

    /* Footer */
    .footer-container {
        background: #C33764 !important;
        background: -moz-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: -webkit-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: linear-gradient(135deg, #C33764 0%, #1D2671 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C33764', endColorstr='#1D2671', GradientType=1) !important;

        footer {
            padding-bottom: 30px !important;
            padding-top: 60px !important;

            .footer-nav {
                margin-top: 30px;

                p {
                    float: none !important;
                    text-align: center;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                float: none !important;

                li {
                    float: left;
                    width: 25%;
                    margin: 0 !important;

                    a {
                        padding: 10px 0 !important;
                    }

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .navigation-wrapper {
        .logo-container {
            width: 15% !important;
            flex: none !important;
        }

        nav {
            width: 85% !important;
            flex: none !important;
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .navigation-wrapper {

        .logo-container {
            h1 {
                display: none;
            }
        }

        nav {

            ul {
                padding: 0;
                list-style-type: none;
                float: right;
                margin: 0;

                li {
                    margin-right: 0;
                    float: left;

                    a {
                        display: block;
                        color: #FFF;
                        text-decoration: none;
                        padding: 16px 0;
                    }

                    a.current {
                        border-bottom: 1px solid #fff;
                        font-weight: 700;
                    }
                }

                li.track-trace {
                    a {
                        border: 2px solid #FFF;
                        border-radius: 50px;
                        padding: 16px 20px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background: #FFF;
                            color: #000;
                        }
                    }

                    a.current {
                        background: #FFF;
                        color: #000;
                    }
                }
            }
        }
    }

    /* Footer */
    .footer-container {
        background: #C33764 !important;
        background: -moz-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: -webkit-linear-gradient(-45deg, #C33764 0%, #1D2671 100%) !important;
        background: linear-gradient(135deg, #C33764 0%, #1D2671 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C33764', endColorstr='#1D2671', GradientType=1) !important;

        footer {
            padding-bottom: 30px !important;
            padding-top: 60px !important;

            .footer-nav {
                margin-top: 30px;

                p {
                    float: none !important;
                    text-align: center;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                float: none !important;

                li {
                    float: left;
                    width: 25%;
                    margin: 0 !important;

                    a {
                        padding: 10px 0 !important;
                    }

                    a.current {
                        border: none !important;
                        color: rgb(229, 255, 0) !important;
                    }
                }
            }
        }
    }
}