@import "global.scss";
@import "mixins.scss";

body {
    background-color: rgb(243, 243, 243);
}

.navigation-wrapper {
    position: absolute;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/inquiry-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-attachment: fixed;
    background-size: auto;
    box-shadow: 0 12px 20px rgba(0,0,0,.10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: left;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
        }

        p {
            text-align: left;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.inquiry-container {
    padding: 160px 0;

    .inquiry-form-container {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 12px 20px rgba(0,0,0,.08);
        padding: 90px 60px 30px 60px;
        position: relative;

        img {
            width: 100px;
            height: 100px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0%;
            left: 50%;
            background-color: rgb(96, 223, 102);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 7px 15px rgba(0,0,0,.08);
        }

        header {
            margin-bottom: 30px;

            h3 {
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        input[type=text], input[type=email], textarea {
            padding: 25px 15px 25px 0;
            border-bottom: 1px solid rgb(96, 223, 102);
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
            outline: 0;
            transition: all .3s ease-in-out;

            &:focus {
                box-shadow: none;
                border-bottom: 2px solid rgb(96, 223, 102);
            }
        }

        small {
            background: #fff;
            color: #000;
            font-weight: 700;
        }

        .send-btn-container {
            padding: 30px 0;

            button {
                border-radius: 30px;
                box-shadow: 0px 5px 12px rgba(0,0,0,.20);
                padding: 15px 25px;
                float: right;

                i {
                    margin-right: 10px;
                    font-size: 24px;
                }
            }
        }
    }
}