@mixin pillButton() {
    a {
        padding: 15px 40px;
        background: #202e49;
        color: #fff;
        border: 1px solid #202e49;
        text-decoration: none;
        border-radius: 50px;
        transition: all .3s ease-in-out;

        &:hover {
            background: none;
            color: #202e49;
        }
    }
}