@import "global.scss";
@import "mixins.scss";

body {
    background-color: rgb(243, 243, 243);
}

.navigation-wrapper {
    position: absolute !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/project-cargo-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: left;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 30px;
        }

        p {
            text-align: left;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.project-cargo-container {
    padding: 120px 0;

    .image-columns {
        a {
            display: block;
            width: 100%;
            margin: 30px 0;

            img {
                max-width: 100%;
                border-radius: 10px;
                box-shadow: 0px 7px 12px rgba(0,0,0,.07);
            }
        }
    }
}
