@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        background-image: url('../images/services-intro-bg-500.jpg') !important;
        background-size: cover;
        background-position: 50% 50%;
    }

    .services-container {
        padding: 60px 0;
        background-image: none;

        h2 {
            margin-top: 30px;
            text-align: center;
            font-size: 28px;
        }

        p {
            text-align: center;
        }

        .services-list {
            padding: 60px 0;

            .service {
                border-bottom: 1px dashed #ccc !important;
                border-left: none !important;
                border-right: none !important;
            }

            .service:last-child {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-wrapper {
        background-image: url('../images/services-intro-bg-700.jpg') !important;
        background-size: cover;
        background-position: 50% 50%;
    }

    .services-container {
        padding: 60px 0;
        background-image: none;

        h2 {
            margin-top: 30px;
            text-align: left;
            font-size: 28px;
        }

        p {
            text-align: left;
        }

        .services-list {
            padding: 60px 0;

            .service {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-wrapper {
        background-image: url('../images/services-intro-bg-900.jpg') !important;
        background-size: cover;
        background-position: 50% 50%;
    }

    .services-container {
        padding: 60px 0;
        background-image: none;

        h2 {
            margin-top: 30px;
            text-align: left;
            font-size: 28px;
        }

        p {
            text-align: left;
        }

        .services-list {
            padding: 60px 0;

            .service {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .intro-wrapper {
        background-position: center center !important;
        background-size: cover !important;
    }

    .services-container {
        background-size: 34% 57%, 40% !important;

        h2 {
            font-size: 28px;
        }

        h2, p {
            text-align: left;
        }
    }

    .footer-container {
        background-image: url('../images/footer-bg.jpg') !important;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-wrapper {
        background-position: center center !important;
        background-size: cover !important;
    }

    .services-container {
        background-size: 34% 57%, 35% !important;

        h2 {
            font-size: 28px;
        }

        h2,
        p {
            text-align: left;
        }
    }

    .footer-container {
        background-image: url('../images/footer-bg.jpg') !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .intro-wrapper {
        height: 410px;
    }

    .services-container {
        background-size: 35% 71%, 31% !important;

        h2 {
            font-size: 28px;
        }

        h2,
        p {
            text-align: left;
        }
    }
}