@import "global.scss";
@import "mixins.scss";

.navigation-wrapper {
    position: absolute !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/services-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 60px;

        h2 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.services-container {
    background-image: url('../images/services-wave-bg.svg'), url('../images/services-wave-bg-bottom-01.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 35% 71%, 40%;
    padding: 160px 0;
    z-index: 3;

    h2, p {
        text-align: right;
    }

    h2 {
        font-weight: 700;
        font-size: 32px;
        color: #24B47E;
    }

    p {
        margin-top: 30px;
    }

    .cargo-ship {
        width: 100%;
    }

    .services-list {
        padding: 160px 0;
        // height: 1000px;

        header {
            margin: 0 0 60px 0;
            width: 100%;

            h2 {
                font-weight: 700;
                font-size: 32px;
                color: #24B47E;
                text-align: center;
                margin: 0;
            }

            p {
                text-align: center;
                margin: 15px 0;
                font-size: 18px;
            }
        }

        .service {
            min-height: 300px;
            padding: 30px;
            transition: all .3s ease-in-out;
            cursor: pointer;

            img {
                display: block;
                width: 100px;
                margin: 15px auto;
            }

            h3 {
                font-size: 22px;
                font-weight: 700;
                text-align: center;
            }

            p {
                margin: 15px 0;
                text-align: center;
            }

            &:hover {
                background: #ec008c;
                background: -moz-linear-gradient(-45deg, #ec008c 0%, #fc6767 100%);
                background: -webkit-linear-gradient(-45deg, #ec008c 0%, #fc6767 100%);
                background: linear-gradient(135deg, #ec008c 0%, #fc6767 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec008c', endColorstr='#fc6767', GradientType=1);

                h3, p {
                    color: #fff;
                }
            }
        }

        .service:nth-child(3), .service:nth-child(6) {
            border-right: 1px dashed #ccc;
            border-left: 1px dashed #ccc;
        }

        .service:nth-child(6),
        .service:nth-child(5),
        .service:nth-child(7) {
            border-top: 1px dashed #ccc;
        }
    }
}
