@import "global.scss";
@import "mixins.scss";

body {
    background-color: #f3f3f3;
}

.navigation-wrapper {
    position: absolute !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/testimonials-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 500px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: right;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
        }

        p {
            text-align: right;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        p.animated {
            margin-top: 30px;
        }
    }
}

.testimonials-container {
    padding: 120px 0;

    .testimonial-wrapper {
        width: 100%;

        blockquote {
            padding: 30px;
            margin-bottom: 30px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 26px rgba(0, 0, 0, 0.07);

            p {
                margin: 0 0 15px 0;
            }

            .person {
                text-align: right;
                font-weight: 700;
                margin: 15px 0;
            }
        }
    }
}
