@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        background-image: url('../images/tracking-intro-bg-500.jpg');
        background-size: auto;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .navigation-wrapper {
        li {
            a.current {
                color: #000 !important;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-wrapper {
        background-image: url('../images/tracking-intro-bg-700.jpg');
        background-size: cover;
        // background-position: 0 0;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .navigation-wrapper {
        li {
            a.current {
                color: #000 !important;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-wrapper {
        background-image: url('../images/tracking-intro-bg-1000.jpg');
        background-size: auto;

        h2 {
            font-size: 34px !important;
            margin-bottom: 30px;
        }
    }

    .navigation-wrapper {
        li {
            a.current {
                color: #000 !important;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-wrapper {
        background-image: url('../images/tracking-intro-bg-1300.jpg');
        background-size: auto;

        h2 {
            margin-bottom: 30px;
        }
    }

    .navigation-wrapper {
        li {
            a.current {
                color: #000 !important;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .intro-wrapper {
        background-size: auto;
    }

    .navigation-wrapper {
        li {
            a.current {
                color: #000 !important;
                text-align: center;
            }
        }
    }
}
