@import "global.scss";
@import "mixins.scss";

.navigation-wrapper {
    position: absolute !important;
}

.intro-wrapper {
    width: 100%;
    background-color: rgb(48, 167, 68);
    background-image: url('../images/tracking-intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: auto;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .10);
    height: 625px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    .container {
        margin-top: 115px;

        h2 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 42px;
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 16px;

            i {
                font-size: 24px;
            }
        }

        input[type=text] {
            padding: 25px;
            border-radius: 30px;
            margin-top: 30px;
        }

        button {
            border-radius: 30px;
            box-shadow: 0px 5px 12px rgba(0, 0, 0, .20);
            padding: 15px 25px;
            float: right;
            margin-top: 30px;

            i {
                margin-right: 10px;
                font-size: 24px;
            }
        }
    }
}

.tracking-container {
    padding: 160px 0;

    header {
        margin-bottom: 60px;

        h2 {
            text-align: center;
            font-size: 42px;
            font-weight: 800;
            color: rgb(120, 207, 7);

            span {
                display: block;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
                color: #000;
            }
        }
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .details {
        margin-bottom: 30px;
    }

    .no-record {
        img {
            max-width: 100%;
        }
    }
}
