@import "global.scss";
@import "mixins.scss";

.gradient-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: none;
    background: -moz-linear-gradient(top, rgba(22, 3, 101, 1) 0%, rgba(22, 3, 101, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(22, 3, 101, 1) 0%, rgba(22, 3, 101, 0) 100%);
    background: linear-gradient(to bottom, rgba(22, 3, 101, 1) 0%, rgba(22, 3, 101, 0) 100%);
    opacity: .75;
    height: 536px
}

.intro-wrapper {
    width: 100%;
    background: url('../images/intro-bg-waved.jpg') no-repeat;
    background-size: cover;
    height: 110vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.intro-container {
    position: relative;
    z-index: 3;
    height: 100%;

    .container {
        .row {
            width: 100%;
        }

        .intro-texts {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-top: -30%;
            

            div {
                h2 {
                    font-weight: 800;
                    color: #FFF;
                    letter-spacing: -1px;
                    font-size: 46px;
                }

                p {
                    color: #FFF;
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
        }

        .stack-card-container {
            width: 100% !important;
            // margin-top: -115px;

            .stack {
                height: 400px !important;

                .stack__item,
                .stack__item--current {
                    background: #FFF !important;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, .15);
                    border-radius: 10px;
                    padding: 30px;
                    // overflow-y: scroll;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 15px;

                        a {
                            display: block;
                            float: right;
                            color: #002AF9;
                            font-weight: 700;
                            
                            &:hover {
                                color: rgb(103, 126, 243);
                            }
                        }
                    }

                    img {
                        display: block;
                        width: 75px;
                        height: 75px;
                        margin: 0 auto 30px auto;
                    }
                }
            }

        }

        *,
        *:after,
        *:before {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: '';
        }

        .clearfix:after {
            clear: both;
        }

        a {
            outline: none;
            color: #03a9f4;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            color: #fff;
        }

        button:focus {
            outline: none;
        }


        /* Content */
        .content {
            -webkit-align-self: stretch;
            align-self: stretch;
            width: 50%;
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-direction: column;
            flex-direction: column;

            .controls {
                padding: 1em 0;
            }
        }

        .content:nth-child(even):last-child {
            width: 100%;
        }

        .content__title {
            margin: 0 auto 6em 0;
            font-size: 1em;
            z-index: 100;
            position: relative;
            color: rgba(0, 0, 0, 0.25);
        }

        /* Related demos */
        .content--related {
            text-align: center;
            display: block;
            color: #fff;
            padding: 5em 1em;
            font-size: 1.3em;
        }

        .content--related a {
            color: #4B4572;
        }

        .content--related a:hover,
        .content--related a:focus {
            color: #fff;
        }

        .content--related p {
            margin: 2em auto;
        }

        .media-item {
            display: inline-block;
            padding: 1em;
            vertical-align: top;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
        }

        .media-item__img {
            max-width: 100%;
            opacity: 0.7;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }

        .media-item:hover .media-item__img,
        .media-item:focus .media-item__img {
            opacity: 1;
        }

        .media-item__title {
            margin: 0;
            padding: 0.5em;
            font-size: 1em;
        }

        @media screen and (max-width: 60em) {
            .codrops-header h1 {
                font-size: 3em;
            }

            .content {
                width: 100%;
            }

            .content--related {
                font-size: 0.9em;
            }
        }

    }
}

// Company attributes
.company-attributes-container {
    padding: 120px 0;
    position: relative;
    margin: 120px 0;

    .cargo-ship {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        background: url('../images/cargo-ship.jpg') no-repeat;
        background-size: cover;
        height: 100%;
        border-radius: 44px 0 0 44px;

        a {
            background: rgba(219, 60, 60, .85);
            display: block;
            height: 150px;
            transition: all .3s ease-in-out;
            width: 150px;
            border-radius: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);

            i {
                color: #fff;
                font-size: 42px;
                left: 52%;
                position: absolute;
                text-decoration: none;
                top: 52%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                background: rgba(219, 60, 60, 1);
            }
        }
    }

    header {
        border-left: 3px solid #24B47E;
        margin-bottom: 60px;
        padding-left: 30px;

        h2 {
            font-size: 32px;
            font-weight: 700;
            letter-spacing: -1px;
            color: #24B47E;
        }

        p {
            color: #9F9F9F;
        }
    }

    .attribute {
        margin: 30px 0;

        .media {
            .media-right {
                margin-right: 15px;

                img {
                    width: 42px;
                }
            }

            h3 {
                font-size: 22px;
                font-weight: 700;
                letter-spacing: -1px;
                color: #24B47E;
            }

            p {
                color: #9F9F9F;
            }
        }
    }
}

// Extremely efficient outbound section...
.outbound-inbound-container {
    padding: 120px 0;
    position: relative;
    margin: 120px 0;

    h2 {
        text-align: right;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #24B47E;
        border-right: 3px solid #24B47E;
        padding-right: 30px;
        margin-bottom: 60px;
    }

    p {
        color: #9F9F9F;
        text-align: right;
    }

    p.services-btn-container {
        margin-top: 60px;

        @include pillButton();
    }

    .trucks {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        background-image: url('../images/trucks.jpg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        border-radius: 0 44px 44px 0;
    }

    svg {
        width: 286px;
        height: 633px;
        position: absolute;
        right: 0;
        top: 0;

        .cls-1,
        .cls-2 {
            fill: #7ecbff;
        }

        .cls-1 {
            opacity: 0.3;
        }

        .cls-2 {
            opacity: 0.2;
        }
    }
}

// Testimonials
.testimonials-container {
    padding: 120px 0;
    position: relative;

    .owl-stage {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    p {
        text-align: center;
        margin: 60px 0;

        @include pillButton();
    }

    .nav-container {
        width: 92px;
        margin: 30px auto;

        button {
            width: 46px;
            background: none;
            border: none;
            outline: 0;
            font-size: 48px;
            color: #B7B7B7;
            cursor: pointer;

            &:active {
                opacity: .5;
            }
        }
    }

    header {
        width: 100%;
        margin-bottom: 30px;

        h2 {
            font-size: 32px;
            text-align: center;
            font-weight: 700;
            letter-spacing: -1px;
            color: #24B47E;
            margin: 0;

            i {
                display: block;
                margin-bottom: 30px;
                color: rgb(255, 208, 0);
            }
        }
    }

    .testimonial {
        // width: 100%;
        background: #8d44ad;
        background: -moz-linear-gradient(-45deg, #8d44ad 0%, #202e49 100%);
        background: -webkit-linear-gradient(-45deg, #8d44ad 0%, #202e49 100%);
        background: linear-gradient(135deg, #8d44ad 0%, #202e49 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d44ad', endColorstr='#202e49', GradientType=1);
        min-height: 300px;
        border-radius: 15px;
        box-shadow: 0px 5px 30px rgba(0,0,0,.10);
        padding-top: 30px;

        img {
            display: block;
            width: 100px;
            margin: 0 auto;
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 16px;
            padding: 30px;
            margin: 0;

            span {
                display: block;
                margin-top: 30px;
                font-weight: 700;
                color: #88b2c5;
            }
        }
    
    }
}