@import "global.scss";

@media screen and (min-width: 0px) and (max-width: 576px) {
    .intro-wrapper {
        width: 100%;
        background: url('../images/intro-bg-waved-400.jpg') no-repeat;
        background-size: cover;
        height: 110vh;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .intro-wrapper {
        width: 100%;
        background: url('../images/intro-bg-waved-768.jpg') no-repeat;
        background-size: cover;
        height: 110vh;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    
    .intro-container {
        .container {
            .row {
                width: auto !important;

                .intro-texts {
                    margin-top: 400px;
                    margin-bottom: 30px;

                    h2 {
                        text-align: center;
                        font-size: 34px !important;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .stack-card-container {
                width: 100% !important;
                margin-top: 0px !important;

                .stack {
                    height: 465px !important;

                }
            }
        }
    }

    /* Company Attributes */
    .company-attributes-container {
        padding: 0;
        margin: 275px 0 60px 0;

        header {
            border: none;
            padding-left: 0;

            h2 {
                font-size: 30px;
            }

            h2, p {
                text-align: center;
            }
            
        }

        .cargo-ship {
            position: relative;
            width: 90%;
            margin: 0 auto;
            height: 300px;
            border-radius: 15px;
        }
    }

    /* Inbound - Outbond */
    .outbound-inbound-container {
        padding: 0;

        svg {
            width: 140px;
            top: 50px;
        }

        h2 {
            padding-right: 0;
            font-size: 34px;
        }

        h2, p {
            text-align: center;
        }

        .trucks {
            display: none !important;
        }
    }

    /* Testimonials */
    .testimonials-container {
        padding: 0 0 60px 0;

        .nav-container {
            width: 92px;
            margin: 0 auto;

            button {
                width: 46px;
                background: none;
                border: none;
                outline: 0;
                font-size: 48px;
                color: #B7B7B7;
                cursor: pointer;

                &:active {
                    opacity: .5;
                }
            }
        }

        .testimonials-wrapper {
            .owl-item {
                .testimonial {
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro-container {
        .container {
            .row {
                width: auto !important;

                .intro-texts {
                    margin-top: 0;
                    margin-bottom: 30px;

                    h2 {
                        text-align: center;
                        font-size: 34px !important;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .stack-card-container {
                width: 100% !important;
                margin-top: 0px !important;

                .stack {
                    height: 465px !important;

                }
            }
        }
    }

    /* Company Attributes */
    .company-attributes-container {
        padding: 0;
        margin: 160px 0 60px 0;

        header {
            border: none;
            padding-left: 0;

            h2 {
                font-size: 30px;
            }

            h2,
            p {
                text-align: center;
            }

        }

        .cargo-ship {
            position: relative;
            width: 90%;
            margin: 0 auto;
            height: 300px;
            border-radius: 15px;
        }
    }

    /* Inbound - Outbond */
    .outbound-inbound-container {
        padding: 0;

        svg {
            width: 250px;
            top: 0;
            right: -110px;
        }

        h2 {
            padding-right: 0;
            font-size: 34px;
            border: none;
        }

        h2,
        p {
            text-align: center;
        }

        .trucks {
            display: none !important;
        }
    }

    /* Testimonials */
    .testimonials-container {
        padding: 0 0 60px 0;

        .nav-container {
            width: 92px;
            margin: 30px auto;

            button {
                width: 46px;
                background: none;
                border: none;
                outline: 0;
                font-size: 48px;
                color: #B7B7B7;
                cursor: pointer;

                &:active {
                    opacity: .5;
                }
            }
        }

        .testimonials-wrapper {
            .owl-item {
                .testimonial {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .outbound-inbound-container {
        .trucks {
            display: none !important;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro-container {
        height: 100%;

        .container {
            .row {
                width: auto !important;

                .intro-texts {
                    margin-top: 0;
                    margin-bottom: 30px;

                    h2 {
                        text-align: center;
                        font-size: 34px !important;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .stack-card-container {
                width: 100% !important;
                margin-top: 0px !important;

                .stack {
                    height: 465px !important;

                }
            }
        }
    }

    /* Company Attributes */
    .company-attributes-container {
        padding: 0;
        margin: 170px 0 60px 0;

        header {
            border: none;
            padding-left: 0;

            h2 {
                font-size: 30px;
            }

            h2,
            p {
                text-align: center;
            }

        }

        .cargo-ship {
            position: relative;
            width: 90%;
            margin: 0 auto;
            height: 300px;
            border-radius: 15px;
        }
    }

    /* Inbound - Outbond */
    .outbound-inbound-container {
        padding: 0;

        svg {
            width: 250px;
            top: 0;
            right: -110px;
        }

        h2 {
            padding-right: 0;
            font-size: 34px;
            border: none;
        }

        h2,
        p {
            text-align: center;
        }

        .trucks {
            background-position: -217px 0;
        }
    }

    /* Testimonials */
    .testimonials-container {
        padding: 0 0 60px 0;

        .nav-container {
            width: 92px;
            margin: 30px auto;

            button {
                width: 46px;
                background: none;
                border: none;
                outline: 0;
                font-size: 48px;
                color: #B7B7B7;
                cursor: pointer;

                &:active {
                    opacity: .5;
                }
            }
        }

        .testimonials-wrapper {
            .owl-item {
                .testimonial {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .company-attributes-container {
        .company-attributes {
            width: 58% !important;
            flex: none !important;
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .intro-container {
        height: 115%;

        .container {
            .row {
                width: auto !important;

                .intro-texts {
                    margin-top: 0;
                    margin-bottom: 30px;

                    h2 {
                        text-align: center;
                        font-size: 34px !important;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .stack-card-container {
                width: 100% !important;
                margin-top: 0px !important;

                .stack {
                    height: 465px !important;

                }
            }
        }
    }

    /* Company Attributes */
    .company-attributes-container {
        padding: 0;
        margin: 170px 0 60px 0;

        header {
            border: none;
            padding-left: 0;

            h2 {
                font-size: 30px;
            }

            h2,
            p {
                text-align: center;
            }

        }
    }

    /* Inbound - Outbond */
    .outbound-inbound-container {
        padding: 0;

        svg {
            width: 250px;
            top: 91px;
            right: -110px;
        }

        h2 {
            padding-right: 0;
            font-size: 34px;
            border: none;
        }

        h2,
        p {
            text-align: center;
        }

        .trucks {
            background-position: -90px 0;
        }
    }

    /* Testimonials */
    .testimonials-container {
        padding: 0 0 60px 0;

        .nav-container {
            width: 92px;
            margin: 30px auto;

            button {
                width: 46px;
                background: none;
                border: none;
                outline: 0;
                font-size: 48px;
                color: #B7B7B7;
                cursor: pointer;

                &:active {
                    opacity: .5;
                }
            }
        }

        .testimonials-wrapper {
            .owl-item {
                .testimonial {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .intro-wrapper {
        height: 120vh;
    }

    .stack-card-container {
        margin-top: 35%;
    }

    .outbound-inbound-container {
        padding: 0;

        svg {
            width: 250px;
            top: 38px;
            right: -110px;
        }

        h2 {
            padding-right: 0;
            font-size: 34px;
            border: none;
            border-right: 3px solid #24B47E;
            padding-right: 30px;
        }

        h2,
        p {
            text-align: right !important;
        }

        .trucks {
            background-position: -73px 0;
        }
    }
}