html,
body {
  background: #ececec !important;
  height: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

html #app,
body #app {
  min-height: 100vh;
}

html #app .container-fluid,
body #app .container-fluid {
  height: 100%;
}

html .swal2-content,
body .swal2-content {
  font-weight: 400 !important;
}

html input,
html button,
html p,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html label,
html small,
html a,
body input,
body button,
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body label,
body small,
body a {
  font-family: "Open Sans" !important;
}

html .cls-1,
body .cls-1 {
  fill: #fff;
}

html .header-container,
body .header-container {
  background: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.03);
}

html .header-container .container-fluid,
body .header-container .container-fluid {
  height: 100%;
}

html .header-container header h1,
body .header-container header h1 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 75px;
  color: #5b1e86;
  margin: 0;
}

html .header-container .header-dropdown-container,
body .header-container .header-dropdown-container {
  position: relative;
}

html .header-container .header-dropdown-container .new-shipment-btn,
body .header-container .header-dropdown-container .new-shipment-btn {
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 100px;
  top: 50%;
}

html .header-container .header-dropdown-container ul,
body .header-container .header-dropdown-container ul {
  list-style-type: none;
  padding: 0;
  width: 50%;
  float: right;
  margin: 0;
}

html .header-container .header-dropdown-container ul li.profile-pic-container,
body .header-container .header-dropdown-container ul li.profile-pic-container {
  width: 75px;
  float: right;
  height: 75px;
  position: relative;
}

html .header-container .header-dropdown-container ul li.profile-pic-container img,
body .header-container .header-dropdown-container ul li.profile-pic-container img {
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.085);
          box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.085);
  width: 48px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown {
  display: none;
  list-style-type: none;
  width: 100%;
  position: absolute;
  width: 210px;
  top: 75px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 1;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li {
  float: left;
  width: 100%;
  line-height: normal;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #646464;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a i,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a i {
  margin-right: 10px;
  font-size: 18px;
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a:hover,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a:hover {
  background: #dbdbdb;
  color: #fff;
}

html .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a:hover i,
body .header-container .header-dropdown-container ul li.profile-pic-container ul.header-dropdown li a:hover i {
  color: #fff;
}

html .header-container .header-dropdown-container ul li.profile-pic-container:hover ul.header-dropdown,
body .header-container .header-dropdown-container ul li.profile-pic-container:hover ul.header-dropdown {
  display: block;
}

html .header-container .header-dropdown-container ul li,
body .header-container .header-dropdown-container ul li {
  float: left;
  width: 100%;
}

html .body,
body .body {
  min-height: 100%;
}

html .body .main-navigation,
body .body .main-navigation {
  padding: 0;
  background: #5b1e86;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b1e86), to(#0f1063));
  background: linear-gradient(-180deg, #5b1e86 0%, #0f1063 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b1e86', endColorstr='#0f1063', GradientType=1);
  height: 100vh;
}

html .body .main-navigation ul,
body .body .main-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0 0;
}

html .body .main-navigation ul li,
body .body .main-navigation ul li {
  width: 100%;
}

html .body .main-navigation ul li a,
body .body .main-navigation ul li a {
  display: block;
  line-height: 24px;
  color: #9d9eff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html .body .main-navigation ul li a:hover,
body .body .main-navigation ul li a:hover {
  color: #fff;
  font-weight: 700;
}

html .body .main-navigation ul li a i,
body .body .main-navigation ul li a i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  font-size: 18px;
  margin-right: 10px;
}

html .body .main-navigation ul li a.nav-active,
body .body .main-navigation ul li a.nav-active {
  color: #fff;
  font-weight: 700;
}

html .body .main-navigation ul li a.nav-active:hover,
body .body .main-navigation ul li a.nav-active:hover {
  color: #fff;
}

html .body .main-navigation ul .nav-header,
body .body .main-navigation ul .nav-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #006cd1;
  padding: 30px 0 10px 30px;
}

html .body main,
body .body main {
  min-height: 400px;
}

html .body main header,
body .body main header {
  width: 100%;
  padding: 35px 0;
  position: relative;
}

html .body main header i,
body .body main header i {
  font-size: 42px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 44%;
  color: #b8b8b8;
}

html .body main header h2,
body .body main header h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #353535;
  padding-left: 75px;
}

html .body main header p,
body .body main header p {
  font-size: 1rem;
  padding-left: 75px;
}

html .body main .search-shipment,
html .body main .new-shipment-input,
body .body main .search-shipment,
body .body main .new-shipment-input {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  padding: 24px 20px;
  margin-bottom: 30px;
  border: none;
  border: 2px solid #adacf0;
  border-radius: 5px;
  width: 25%;
}

html .body main .search-shipment:focus,
html .body main .new-shipment-input:focus,
body .body main .search-shipment:focus,
body .body main .new-shipment-input:focus {
  border: 2px solid #3531fa;
}

html .body main .search-shipment,
body .body main .search-shipment {
  width: 50%;
}

html .body main .eta-search,
html .body main .eta-search-btn,
body .body main .eta-search,
body .body main .eta-search-btn {
  float: left;
}

html .body main .eta-search-btn,
body .body main .eta-search-btn {
  border-radius: 30px;
  padding: 10px 30px;
  margin-left: 10px;
  margin-top: 5px;
}

html .body main .switch-container,
body .body main .switch-container {
  margin-bottom: 15px;
}

html .body main .vue-js-switch#switch,
body .body main .vue-js-switch#switch {
  font-size: 14px;
}

html .body main .new-shipment-input,
body .body main .new-shipment-input {
  width: 100%;
}

html .body main .btn-group,
body .body main .btn-group {
  border-radius: 5px;
}

html .body main .btn-group .export-btn,
body .body main .btn-group .export-btn {
  padding: 10px 25px;
}

html .body main .btn-group .export-btn i,
body .body main .btn-group .export-btn i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  font-size: 24px;
}

html .body main .btn-group .export-csv,
body .body main .btn-group .export-csv {
  border-radius: 5px 0 0 5px;
}

html .body main .btn-group .export-excel,
body .body main .btn-group .export-excel {
  border-radius: 0 5px 5px 0;
}

html .body main .save-shipment-btn,
body .body main .save-shipment-btn {
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 100px;
  top: 50%;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  margin-top: 15px;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

html .body main .table-container,
body .body main .table-container {
  padding: 1.5rem;
  background: #fff;
  border-width: .2rem;
  border: solid #dddddd;
}

html .body main .table-container .table,
body .body main .table-container .table {
  margin-bottom: 0;
}

html .body main .table-container .table .thead-dark th,
body .body main .table-container .table .thead-dark th {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #353535;
}

html .body main .table-container .table td #options::after,
body .body main .table-container .table td #options::after {
  display: none;
}

html .body main .table-container .table td .dropdown-menu .dropdown-item i,
body .body main .table-container .table td .dropdown-menu .dropdown-item i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}

html .body main .table-container .table .no-records td,
body .body main .table-container .table .no-records td {
  text-align: center;
}

html .body main .table-container .table .tracking-no,
body .body main .table-container .table .tracking-no {
  text-decoration: none;
}

html .body main .table-container .table td.fit,
html .body main .table-container .table th.fit,
body .body main .table-container .table td.fit,
body .body main .table-container .table th.fit {
  white-space: nowrap !important;
}

html .body .router-anim-enter-active,
body .body .router-anim-enter-active {
  -webkit-animation: coming .5s;
          animation: coming .5s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  opacity: 0;
}

html .body .router-anim-leave-active,
body .body .router-anim-leave-active {
  -webkit-animation: going .5s;
          animation: going .5s;
}

@-webkit-keyframes going {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes going {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
}

@-webkit-keyframes coming {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes coming {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

html .login-reset-body,
body .login-reset-body {
  background: #005C97;
  background: linear-gradient(45deg, #1488CC 0%, #2B32B2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1488CC', endColorstr='#2B32B2',GradientType=1 );
}

html .login-reset-body .login-form-container,
body .login-reset-body .login-form-container {
  padding: 40px 60px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.075);
}

html .login-reset-body .login-form-container h1,
body .login-reset-body .login-form-container h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

html .login-reset-body .login-form-container form .form-group,
body .login-reset-body .login-form-container form .form-group {
  position: relative;
  margin-bottom: 20px;
}

html .login-reset-body .login-form-container form .form-group i,
body .login-reset-body .login-form-container form .form-group i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 5%;
  font-size: 18px;
  color: #a0a0a0;
}

html .login-reset-body .login-form-container form .form-group input[type=password],
html .login-reset-body .login-form-container form .form-group input[type=email],
body .login-reset-body .login-form-container form .form-group input[type=password],
body .login-reset-body .login-form-container form .form-group input[type=email] {
  padding: 25px 20px 25px 50px;
  border-radius: 30px;
  background: #f8f8f8;
  border-width: 2px;
}

html .login-reset-body .login-form-container form .btn-container,
body .login-reset-body .login-form-container form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

html .login-reset-body .login-form-container form .btn-container button,
body .login-reset-body .login-form-container form .btn-container button {
  border-radius: 30px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

html .login-reset-body .login-form-container form .forgot-password-link,
body .login-reset-body .login-form-container form .forgot-password-link {
  font-size: 13px;
  text-decoration: none;
  color: #0069ff;
  text-align: center;
}

html .login-reset-body .login-form-container form .invalid-feedback,
body .login-reset-body .login-form-container form .invalid-feedback {
  margin: 15px 0;
  text-align: center;
}

html .login-reset-body .error-messages,
body .login-reset-body .error-messages {
  padding: 0;
}

html .login-reset-body .error-messages span,
body .login-reset-body .error-messages span {
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: #856404 !important;
  margin-top: 15px;
}

