<template>
    <main class="col-xl-10">
        <div class="row">
            <div class="col-xl-12">
                <header class="section-header">
                    <i class="fas fa-tachometer-alt"></i>
                    <h2>Dashboard</h2>
                    <p>This is the app's main landing page. It display common metrics of the app.</p>
                </header>

                <div class="row switch-container">
                    <div class="col-xl-4">
                        <label>Search for ETA</label>
                        <toggle-button id="switch" @change="clearSearch" :value="false" v-model="on_off" :labels="{checked: 'Yes', unchecked: 'No'}" class="toggle-btn" :width="65" :height="30" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6" v-if="shipments.total > 0">
                        <input type="text" class="search-shipment form-control" placeholder="Search for recent shipments." @keyup="searchShipment(sort_field, sort_type, search_criteria)" v-model="search_criteria" v-if="on_off == false">

                        <date-picker v-model="eta_search" :config="options" class="form-control search-shipment eta-search" placeholder="Search shipment's ETA" v-if="on_off == true"></date-picker>

                        <button class="btn btn-success eta-search-btn" title="Search shipment's ETA" v-if="on_off == true" @click="searchETA(sort_field, sort_type, search_criteria)">Search</button>
                    </div>
                    <div class="col-xl-6">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="Basic example" v-if="shipments.total > 0">
                                <button class="btn btn-success export-btn export-csv" title="Export to CSV" @click="exportToFile('csv')"><i class="fas fa-file-csv"></i></button>
                                <button class="btn btn-success export-btn export-excel" title="Export to Excel" @click="exportToFile('xlsx')"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-container table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Tracking #</th>
                                <th scope="col">ETA</th>
                                <th scope="col" class="fit">Registry #</th>
                                <th scope="col" class="fit">Carrier Name</th>
                                <th scope="col" class="fit">Vessel Name</th>
                                <th scope="col">Warehouse</th>
                                <th scope="col">Container #</th>
                                <th scope="col">Exchange Rate</th>
                                <th scope="col">Point of Discharge</th>
                                <th scope="col" colspan="2">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(shipment, index) in shipments.data" :key="shipment.id">
                                <th scope="row">
                                    <router-link :to="{ name: 'shipment', params: { id:shipment.id } }" tag="a" class="tracking-no" title="View Details">
                                        {{ shipment.tracking_no }}
                                    </router-link>
                                </th>
                                <td class="fit">{{ shipment.eta | eta }}</td>
                                <td class="fit">{{ shipment.registry_no }}</td>
                                <td class="fit">{{ shipment.carrier_name }}</td>
                                <td class="fit">{{ shipment.vessel_name }}</td>
                                <td>{{ shipment.warehouse }}</td>
                                <td>{{ shipment.container_no }}</td>
                                <td>{{ shipment.exchange_rate }}</td>
                                <td>{{ shipment.point_of_discharge }}</td>
                                <td :title="shipment.remarks">{{ shipment.remarks == null ? '' : shipment.remarks | truncate(20) }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="options" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <router-link :to="{ name: 'shipment', params: { id:shipment.id } }" tag="a" class="dropdown-item" title="View Details">
                                                <i class="fas fa-pencil-alt"></i> Edit
                                            </router-link>
                                            <a class="dropdown-item" href="#" @click="deleteShipment(shipment.id, index)"><i class="fas fa-trash"></i> Delete</a>
                                            <a class="dropdown-item" href="#" @click="markAsDelivered(shipment.id)"><i class="fas fa-box"></i> Mark as Delivered</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="no-records" v-if="shipments.data.length == 0">
                                <td colspan="10">There are no shipment records yet.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <vue-pagination :pagination="shipments" @paginate="getResults(sort_field, sort_type)" :offset="2" v-if="shipments.total > 10 && eta_search == '' && search_criteria == ''"></vue-pagination>
        <vue-pagination :pagination="shipments" @paginate="getResults(sort_field, sort_type, eta_search)" :offset="4" v-if="shipments.total > 10 && eta_search != '' && search_criteria == ''"></vue-pagination>
        <vue-pagination :pagination="shipments" @paginate="getResults(sort_field, sort_type, search_criteria)" :offset="4" v-if="shipments.total > 10 && search_criteria != '' && eta_search == ''"></vue-pagination>
    </main>
</template>

<script>
    import moment from 'moment';
    import VuePagination from '../components/Pagination.vue';
    // Import required dependencies
    import 'bootstrap/dist/css/bootstrap.css';

    // Import this component
    import datePicker from 'vue-bootstrap-datetimepicker';

    // Import date picker css
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    export default {
        components: {
            VuePagination,
            datePicker
        },
        data() {
            return {
                shipments: {
                    data: [],
                    current_page: 1,
                    from: 1,
                    last_page: 1,
                    per_page: 10,
                    to: 1,
                    total: 0
                },
                search_criteria: '',
                eta_search: '',
                per_page: 10,
                per_page_options: [10, 25, 50, 100],
                offset: 1,
                sort_field: 'eta',
                sort_type: 'desc',
                on_off: false,
                options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: true,
                },
            }
        },

        filters: {
            eta(date) {
                return moment(date).format('LL');
            }
        },

        created() {
            let self = this;
            self.getResults(self.sort_field, self.sort_type);

            let doc_height = $(document).height();
            $('.main-navigation').css({
                height: doc_height
            });
        },

        methods: {
            /**
             * Load all data.
             */
            getResults(sortField, sortType, search) {
                axios.get(`shipments?page=${this.shipments.current_page}&per_page=${this.per_page}`, {
                        params: {
                            sortField,
                            sortType,
                            search
                        }
                    })
                    .then(response => {
                        this.shipments = response.data;
                    });
            },

            /**
             * Export to file(.xlsx or .csv).
             */
            exportToFile(type) {
                axios({
                    url: 'download-file/' + type,
                    method: 'GET',
                    responseType: 'arraybuffer',
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'shipments-' + response.headers.date + '.' + type);
                    document.body.appendChild(link);
                    link.click();
                });
            },

            /**
             * Search shipment records.
             */
            searchShipment(sortField, sortType) {
                let self = this;

                axios.get(`shipments?page=${self.shipments.current_page}&per_page=${self.per_page}&search=${self.search_criteria}`, {
                    params: {
                        sortField,
                        sortType,
                    }
                })
                .then(response => {
                    self.shipments = response.data;
                });
            },

            /**
             * Delete shipment.
             */
            deleteShipment(id, index) {
                Vue.swal({
                    title: 'Hold on a sec...',
                    text: "Are you sure you want to delete this shipment record? You won't be able to revert this.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    let self = this;
                    let page = 1;
                    if (result.value) {
                        axios.delete('shipments/' + id)
                            .then(function(response) {
                                Vue.swal(
                                    response.data.msgTitle,
                                    response.data.msgBody,
                                    'success'
                                ),
                                self.getResults(self.sort_field, self.sort_type);
                            });
                    }

                })
            },

            /**
             * Search by ETA
             */
            searchETA(sortField, sortType) {
                axios.get(`shipments?page=${this.shipments.current_page}&per_page=${this.per_page}&search=${this.eta_search}`, {
                        params: {
                            sortField,
                            sortType,
                            eta: true,
                        }
                    })
                    .then(response => {
                        this.shipments = response.data;
                    });
            },

            /**
             * Clear search query.
             */
            clearSearch() {
                let self = this;
                self.search_criteria = '';
                self.eta_search = '';

                if (self.on_off == false) {
                    self.getResults(self.sort_field, self.sort_type);
                }
            },

            /**
             * Mark shipment as delivered.
             */
            markAsDelivered(id) {
                // let self = this;
                // axios.patch('shipments/' + id)
                //      .then(function(response){
                //          console.log(response);
                //      })
            }
        }
    }

    $(document).on('focusin', '.search-shipment', function() {
        $(this).stop(0, 0).animate({
            width: '75%'
        });
    });

    $(document).on('focusout', '.search-shipment', function() {
        $(this).stop(0, 0).animate({
            width: '50%'
        });
    });
</script>
