<template>
    <main class="col-xl-10">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <header class="section-header">
                    <i class="fas fa-shipping-fast"></i>
                    <h2>New Shipments</h2>
                    <p>Import shipment details by uploading a .csv or excel(.xlsx or .xls) files.</p>
                </header>

                <div class="row dropzone-container">
                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot="true" @vdropzone-success="vsuccess" @vdropzone-error="verror">
                        <div class="dropzone-custom-content">
                            <h3 class="dropzone-custom-title">Drag your CSV or Excel File(s) here.</h3>
                            <div class="subtitle">...or click to select the .csv, .xlsx or .xls file from your computer.</div>
                        </div>
                    </vue-dropzone>
                </div>

                <header class="section-header manual-add-header">
                    <i class="fas fa-edit"></i>
                    <h2>Add New Shipment Manually</h2>
                    <p>Manually add shipment details here.</p>
                </header>

                <form class="row new-shipment-form" @keydown="shipment.errors.clear()">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Tracking #" v-model="shipment.trackingNumber">
                            <small class="form-text bg-danger" v-show="shipment.errors.has('trackingNumber')" v-text="shipment.errors.get('trackingNumber')"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Registry Number" v-model="shipment.registryNumber">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Carrier Name" v-model="shipment.carrierName">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Vessel Name" v-model="shipment.vesselName">
                            <small class="form-text bg-danger" v-show="shipment.errors.has('vesselName')" v-text="shipment.errors.get('vesselName')"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Exchange Rate" v-model="shipment.exchangeRate">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <date-picker v-model="shipment.eta" :config="options" class="form-control new-shipment-input" placeholder="ETA"></date-picker>
                            <small class="form-text bg-danger" v-show="shipment.errors.has('eta')" v-text="shipment.errors.get('eta')"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Warehouse" v-model="shipment.warehouse">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Container #" v-model="shipment.containerNumber">
                            <small class="form-text bg-danger" v-show="shipment.errors.has('containerNumber')" v-text="shipment.errors.get('containerNumber')"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Point of Discharge" v-model="shipment.pointOfDischarge">
                        </div>

                        <div class="form-group">
                            <textarea rows="5" class="form-control new-shipment-input" placeholder="Remarks - You can specify other concerns regarding this shipment." v-model="shipment.remarks"></textarea>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success save-shipment-btn" @click="saveNewShipment()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    // Import required dependencies
    import 'bootstrap/dist/css/bootstrap.css';

    // Import this component
    import datePicker from 'vue-bootstrap-datetimepicker';

    // Import date picker css
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

    export default {
        components: {
            vueDropzone: vue2Dropzone, datePicker
        },
        data() {
            return {
                shipment: new Form({
                    trackingNumber: '',
                    registryNumber: '',
                    carrierName: '',
                    vesselName: '',
                    warehouse: '',
                    containerNumber: '',
                    eta: '',
                    exchangeRate: '',
                    pointOfDischarge: '',
                    remarks: '',
                }),
                dropzoneOptions: {
                    url: 'import-shipments',
                    thumbnailWidth: 200,
                    thumbnailHeight: 200,
                    maxFilesize: 5,
                    headers: {
                        "X-CSRF-TOKEN": document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    },
                    addRemoveLinks: true,
                    acceptedFiles: '.csv, .xlsx, .xls',
                    parallelUploads: 5,
                    autoProcessQueue: true,
                    uploadMultiple: false,
                },
                headers: {
                    "Content-Type": 'application/x-www-form-urlencoded, .xls'
                },
                options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: true,
                },

            }
        },

        created(){
            let doc_height = $(document).height();
            $('.main-navigation').css({
                height: doc_height
            });
        },

        methods: {

            /**
             * Save new shipment manually.
             */
            saveNewShipment() {
                this.shipment
                    .post('shipments')
                    .then(function(response){
                        Vue.swal(
                            response.msgTitle,
                            response.msgBody,
                            'success'
                        )
                    })
                    .catch(function (error) {

                    });

            },

            /**
             * Pop the success dialog after successful import.
             *
             * @return response
             */
            vsuccess(file, response) {
                Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
            },

            /**
             * Returns a message when the import encounters and error.
             */
            verror(file, message, xhr){
                let sql_error = message.message.substring(0, 15);

                if(sql_error == 'SQLSTATE[23000]'){
                    Vue.swal('Data Integrity Error', `There's a duplicate value in <strong>"Tracking #"</strong>, this field should be unique. Please check the message below to find which tracking # has a duplicate. <br> <br>` + message.message.substring(0, 165), 'error');
                } else {
                    Vue.swal('Error!', `We encountered an error while importing your data to our database.`, 'error');
                }
            }
        },
    }
</script>

<style lang="scss">
    .new-shipment-form {
        height: auto !important;
    }

    .dropzone-container {
        margin: 0 0 30px 0;
        #dropzone {
            width: 100%;
            border-radius: 5px;
            font-family: "Open Sans";
        }
        .dropzone-custom-title {
            margin-top: 0;
            color: #666;
            font-weight: 700;
        }
        .subtitle {
            color: #929292;
        }
    }

    .manual-add-header {
        border-top: 2px solid #ccc;
    }

    .vue-dropzone .dz-preview .dz-remove {
        position: absolute;
        z-index: 30;
        color: white;
        padding: 5px 0;
        transform: translate(-50%, -50%);
        left: 50%;
        top: inherit;
        bottom: 15px;
        border-radius: 4px;
        box-shadow: 0px 3px 10px rgba(0,0,0,.15);
        text-decoration: none;
        text-transform: uppercase;
        font-family: Roboto, "Open Sans";
        font-size: 12px;
        font-weight: 600;
        margin-left: 0 !important;
        opacity: 0;
    }
    .vue-dropzone .dz-preview:hover .dz-remove {
        opacity: 1;
        text-decoration: none !important;
        background: #f4516c;
        color: #fff;
    }

    .dropzone .dz-preview .dz-remove {
        font-size: 14px;
        text-align: center;
        display: block;
        width: 75%;
        cursor: pointer;
        border: none;
    }

    .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline;
        background: #f22d4e !important;
    }

    .form-group {
        position: relative;

        small {
            position: absolute;
            font-size: 13px;
            bottom: -16px;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
</style>
