<template>
    <main class="col-xl-10">
        <div class="row">
            <div class="col-xl-4 offset-xl-4">
                <header class="section-header">
                    <i class="fas fa-user-circle"></i>
                    <h2>My Profile</h2>
                    <p>You can view or edit your personal and login information here.</p>
                </header>

                <form class="row profile-form" @keydown="profile.errors.clear()">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control new-shipment-input" v-model="profile.name" :class="{ error : profile.errors.has('name') }">
                            <small class="form-text bg-danger" v-show="profile.errors.has('name')" v-text="profile.errors.get('name')"></small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control new-shipment-input" placeholder="E.g. juandelacruz@email.com" v-model="profile.email" :class="{ error : profile.errors.has('email') }">
                            <small class="form-text bg-danger" v-show="profile.errors.has('email')" v-text="profile.errors.get('email')"></small>
                        </div>

                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" class="form-control new-shipment-input" v-model="profile.current_password">
                            <small class="form-text bg-danger" v-show="profile.errors.has('current_password')" v-text="profile.errors.get('current_password')"></small>
                        </div>

                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" class="form-control new-shipment-input" v-model="profile.password" :class="{ error : profile.errors.has('password') }">
                            <small class="form-text bg-danger" v-show="profile.errors.has('password')" v-text="profile.errors.get('password')"></small>
                        </div>

                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control new-shipment-input" v-model="profile.password_confirmation">
                            <small class="form-text bg-danger" v-show="profile.errors.has('password_confirmation')" v-text="profile.errors.get('password_confirmation')"></small>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success save-shipment-btn" @click="updateProfile">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</template>
<script>
    export default {
        data() {
            return {
                profile: new Form({
                    id: this.$route.params.id,
                    name: '',
                    email: '',
                    current_password: '',
                    password: '',
                    password_confirmation: '',
                    msgBody: ''
                }),
                msgBody: ''
            }
        },

        created() {
            /**
             * Fetch current user details after DOM is created.
             */
            this.getUserInfo();
        },

        methods: {
            /**
             * Method for getting user info.
             */
            getUserInfo(){
                let self = this;
                axios.get('user/' + this.profile.id)
                    .then(function(response){
                        self.profile.name = response.data.name;
                        self.profile.email = response.data.email;
                    });
            },

            /**
             * Update user profile.
             */
            updateProfile(){
                let self = this;
                self.profile
                    .patch('user/' + self.profile.id)
                    .then(function(response){
                        Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
                        self.profile.current_password = '';
                        self.profile.password = '';
                        self.profile.password_confirmation = '';
                    });
            }
        }
    }
</script>

<style lang="scss">
    .form-group {
        position: relative;

        small {
            position: absolute;
            font-size: 13px;
            bottom: -16px;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
</style>
