<template>
    <main class="col-xl-10">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <header class="section-header">
                    <i class="fas fa-shipping-fast"></i>
                    <h2>Shipment Details</h2>
                    <p>Here you can review the shipment details you select.</p>
                </header>

                <form class="row new-shipment-form" enctype="multipart/form-data">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Tracking #" v-model="shipment.trackingNumber">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Registry Number" v-model="shipment.registryNumber">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Carrier Name" v-model="shipment.carrierName">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Vessel Name" v-model="shipment.vesselName">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Exchange Rate" v-model="shipment.exchangeRate">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <!-- <datetime type="date" v-model="shipment.eta" input-class="form-control new-shipment-input" placeholder="ETA" format="kkkk-LL-dd" value-zone="Asia/Manila">
                            </datetime> -->
                            <date-picker v-model="shipment.eta" :config="options" class="form-control new-shipment-input" placeholder="ETA"></date-picker>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Warehouse" v-model="shipment.warehouse">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Container #" v-model="shipment.containerNumber">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control new-shipment-input" placeholder="Point of Discharge" v-model="shipment.pointOfDischarge">
                        </div>

                        <div class="form-group">
                            <textarea rows="5" class="form-control new-shipment-input" placeholder="Remarks - You can specify other concerns regarding this shipment." v-model="shipment.remarks"></textarea>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success save-shipment-btn" @click="updateShipment">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</template>

<script>
    import moment from 'moment';
    // Import required dependencies 
    import 'bootstrap/dist/css/bootstrap.css';
    
    // Import this component
    import datePicker from 'vue-bootstrap-datetimepicker';
    
    // Import date picker css
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    export default {
        components: { datePicker  },
        data() {
            return {
                shipment: new Form({
                    id: this.$route.params.id,
                    trackingNumber: '',
                    registryNumber: '',
                    carrierName: '',
                    vesselName: '',
                    warehouse: '',
                    containerNumber: '',
                    eta: '',
                    exchangeRate: '',
                    pointOfDischarge: '',
                    remarks: '',
                    user_id: '',
                    manually_added_by: ''
                }),
                options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: true,
                },
            }
        },

        created() {
            let self = this;
            axios.get('shipments/' + self.shipment.id + '/edit').then(function(response){
                self.shipment.trackingNumber = response.data.tracking_no;
                self.shipment.registryNumber = response.data.registry_no;
                self.shipment.carrierName = response.data.carrier_name;
                self.shipment.vesselName = response.data.vessel_name;
                self.shipment.warehouse = response.data.warehouse;
                self.shipment.containerNumber = response.data.container_no;
                self.shipment.eta = response.data.eta;
                self.shipment.exchangeRate = response.data.exchange_rate;
                self.shipment.pointOfDischarge = response.data.point_of_discharge;
                self.shipment.remarks = response.data.remarks;
                self.shipment.user_id = response.data.user_id;
                self.shipment.manually_added_by = response.data.manually_added_by;
            });

            let doc_height = $(document).height();
            $('.main-navigation').css({
                height: doc_height
            });
        },

        methods: {
            /**
             * Update shipment details.
             */
            updateShipment(){
                let self = this;
                self.shipment
                    .patch('shipments/' + self.shipment.id)
                    .then(function(response){
                        Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
                    })
                    .catch(function (error) {
                        Vue.swal(
                            'Error!',
                            'Please fill up all the fields.',
                            'error'
                        )
                    });
            }
        }
    }
</script>