<template>
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page" style="height: 100vh;">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-5">
            <div class="m-error_container">
                <span class="m-error_title">
                    <h1>
                        Oops!
                    </h1>
                </span>
                <p class="m-error_subtitle">You're not allowed to access this app resource.</p>
                <p class="m-error_description">
                    For more information about this error, please contact
                    <br>
                    your systems administrator for more details.
                </p>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
</template>
<script>
    export default {
        data(){
            return {

            }
        },

        mounted() {
            console.log(this.$user_roles);
        }
    }
</script>

<style lang="scss">
    .m-error-5 {
        background-color: #201f2b;
    }

    h1 {
        color: #383650 !important;
    }
    p {
        color: #fff !important;
    }
</style>