<template>
   <main class="col-xl-10">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <header class="section-header">
                    <i class="fas fa-user-circle"></i>
                    <h2>User Accounts</h2>
                    <p>Add, edit or remove user accounts.</p>
                </header>
            </div>
            <div class="col-xl-5 offset-xl-1">
                <form class="row user-form" @keydown="user.errors.clear()">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control new-shipment-input" placeholder="Specify your full name." v-model="user.name" :class="{ error : user.errors.has('name') }">
                            <small class="form-text bg-danger" v-show="user.errors.has('name')" v-text="user.errors.get('name')"></small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control new-shipment-input" placeholder="E.g. juandelacruz@email.com" v-model="user.email" :class="{ error : user.errors.has('email') }">
                            <small class="form-text bg-danger" v-show="user.errors.has('email')" v-text="user.errors.get('email')"></small>
                        </div>

                        <div class="form-group" v-if="edit_user == false">
                            <label>Password</label>
                            <input type="password" class="form-control new-shipment-input" placeholder="Use strong password, min. of 8 characters." v-model="user.password" :class="{ error : user.errors.has('password') }">
                            <small class="form-text bg-danger" v-show="user.errors.has('password')" v-text="user.errors.get('password')"></small>
                        </div>

                        <div class="form-group" v-if="edit_user == false">
                            <label>Confirm password</label>
                            <input type="password" class="form-control new-shipment-input" placeholder="Re-type your password to confirm." v-model="user.password_confirmation">
                            <small class="form-text bg-danger" v-show="user.errors.has('password_confirmation')" v-text="user.errors.get('password_confirmation')"></small>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success save-shipment-btn" @click="createUser" v-if="edit_user == false">Create User</button>
                            <button type="button" class="btn btn-success save-shipment-btn" @click="updateUser" v-if="edit_user == true">Update User</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xl-5">
                <div class="table-container table-responsive">
                    <table class="table table-hover">
                        <caption>List of registered users.</caption>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col" colspan="2">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users.data" :key="user.id">
                                <td class="fit">{{ user.name }}</td>
                                <td class="fit">{{ user.email }}</td>
                                <td class="text-right">
                                    <div class="btn-group" role="group">
                                        <button id="options" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" @click="loadUser(user.id)"><i class="fas fa-pencil-alt"></i> Edit</a>
                                            <a class="dropdown-item" v-if="logged_in_user == 1 && user.id != 1" @click="deleteUser(user.id)"><i class="fas fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right" v-if="edit_user == true">
                        <button class="btn btn-primary add-user-btn" @click="edit_user = false">Add User</button>
                    </div>
                </div>
                <vue-pagination :pagination="users" @paginate="getUsers" :offset="4" v-if="users.total > 5"></vue-pagination>
            </div>
        </div>
    </main>
</template>

<script>
    import VuePagination from '../components/Pagination.vue';
    export default {
        components: { VuePagination },
        data(){
            return {
                user: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }),
                users: {
                    data: [],
					current_page: 1 ,
					from: 1,
					last_page: 1,
					per_page: 10,
					to: 1,
					total: 0
                },
                per_page: 10,
				per_page_options: [10, 25, 50, 100],
                offset: 1,
                edit_user: false,
                logged_in_user: ''
            }
        },

        created(){
            this.getUsers();
        },

        methods: {

            /**
             * Get all registered users.
             */
            getUsers(){
                let self = this;
                axios.get(`user?page=${self.users.current_page}&per_page=${self.per_page}`)
                    .then(response => {
                        self.users = response.data.users;
                        self.logged_in_user = response.data.auth_id;
                    })
            },

            /**
             * Create new user.
             */
            createUser(){
                let self = this;
                self.user.post('user')
                    .then(response => {
                        Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
                        self.getUsers();
                    });
            },

            /**
             * Load user details in preparation for editing.
             */
            loadUser(id){
                let self = this;
                axios.get('user/' + id + '/edit')
                     .then(response => {
                         self.user.id = response.data.id;
                         self.user.name = response.data.name;
                         self.user.email = response.data.email;
                         self.edit_user = true;
                     })
            },

            /**
             * Update user's details, except password.
             */
            updateUser(){
                let self = this;
                self.user.post('update-user/' + self.user.id)
                    .then(function(response){
                        self.getUsers();
                        Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
                        self.edit_user = false;
                    });
            },
            
            /**
             * Delete user.
             */
            deleteUser(id){
                Vue.swal({
                    title: 'Be careful...',
                    text: "Are you sure you want to delete this user? You won't be able to revert this.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    let self = this;
                    let page = 1;
                    if(result.value){
                        self.user.delete('user/' + id)
                            .then(function(response){
                                self.getUsers();
                                Vue.swal(response.msgTitle, response.msgBody, response.dialogType);
                                self.edit_user = false;
                            });
                            self.getUsers();
                    }
                });
            }
        }
    }
</script>

<style lang="scss">

    .table-container {
        margin-top: 30px;

        .add-user-btn {
            border-radius: 30px;
            padding: 10px 30px;
            font-weight: 700;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
        }

        .table {
            td {
                a {
                    cursor: pointer;
                }
            }
        }
    }

    .form-group {
        position: relative;

        small {
            position: absolute;
            font-size: 13px;
            bottom: -16px;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
</style>