<template>
    <div class="row">
        <div class="col-sm-5">
            <div style="padding-top:8px; white-space: nowrap; font-family: 'Open Sans' !important;">
                Showing {{ pagination.total ? ((pagination.current_page - 1) * pagination.per_page + 1) : 0 }} to {{ (pagination.current_page
                * pagination.per_page) > pagination.total ? pagination.total: (pagination.current_page * pagination.per_page)
                }} of {{ pagination.total }} entries
            </div>
        </div>
        <div class="col-sm-7" style="text-align: right;">
            <ul class="pagination" style="float: right">

                <!-- First Page -->
                <li class="page-item disabled first-page" v-if="onFirstPage">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" rel="prev" @click.prevent="changePage(pagination.first_page)">
                      First Page
                    </a>
                </li>

                <li class="page-item first-page" v-else>
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" rel="prev" @click.prevent="changePage(pagination.first_page)">
                      First Page
                    </a>
                </li>

                <!-- Previous Page -->
                <li class="page-item prev disabled" v-if="onFirstPage">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>

                <li class="page-item prev" v-else>
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" rel="prev" @click.prevent="changePage(pagination.current_page - 1)">
                      <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>

                <!-- Page Links -->
                <li v-for="page in pagesNumber" :class="{'page-item active': page === pagination.current_page}">
                    <a class="page-link active" href="javascript:void(0)" @click.prevent="changePage(page)">{{ page }}</a>
                </li>

                <!-- Next Page -->
                <li class="page-item next" v-if="hasMorePages">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" @click="changePage(pagination.current_page + 1)" rel="next">
                      <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>

                <!-- Last Page -->
                <li class="page-item last-page" v-if="hasMorePages">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" @click="changePage(pagination.last_page)" rel="next">
                      Last Page
                    </a>
                </li>

                <li class="page-item disabled last-page" v-else>
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" @click="changePage(pagination.last_page)" rel="next">
                      Last Page
                    </a>
                </li>

                <li class="page-item next disabled" v-else>
                    <span class="page-link">
                      <i class="fas fa-angle-double-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 4
            }
        },
        computed: {
            pagesNumber() {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                    pagesArray.push(page);
                }
                return pagesArray;
            },
            onFirstPage() {
                return this.pagination.current_page <= 1
            },
            hasMorePages() {
                return this.pagination.current_page < this.pagination.last_page
            }
        },
        methods: {
            changePage(page) {
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        }
    }
</script>

<style>
    .page-item.active .page-link {
        background-color: #5867dd !important;
    }
</style>
